body {
  background: lightgray;
}

.card {
  min-height: 125px;
}

.roster-card {
  min-height: 230px;
}

.row {
  margin-bottom: 30px;
}

.card img {
  float: left;
}

.outline {
  outline: 1px solid black;
}
